h2{
    padding-left: 20px;
    color: rgb(253, 0, 0);
}

.enunciado{
    padding-left: 40px;
    display: block;
    color: blue;
}

.codigo{
    padding: 60px;
}

.indentaCodigo{
    padding-left: 80px;
}