body{
    background-color: rgb(148, 247, 144);
    background-image: url("img/bg/tecnologia.png");
    background-size: 100%;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursiva;
    padding: 30px 0px;
}
h2{
    color: red;
    margin-left: 4%;
    font-family: 'Press Start 2P', cursiva;
}
h3{
    color: blue;
    margin-left: 8%;
}
p{
    margin-left: 10%;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
}
table{
    margin-left: 10%;
}
thead{
    font-size: 20px;
}
th{
    text-align: left;
    padding: 5px 40px 5px 0px;
}
section{
    padding: 30px;
    margin: 30px;
    background-color: rgb(85, 248, 248, 0.92);
    border: rgb(55, 219, 219) 10px solid;
    border-radius: 20px;
}
article{
    margin-top: 30px;
}
code{
    display: block;
    background-color: rgb(202, 247, 232);
    width: 70%;
    margin-left: 12%;
    padding: 15px 30px;
    border: black 1px solid;
    border-radius: 10px;
    font-size: 18px;
    
}
img{
    display: block;
    margin-left: 12%;
}
.texto{
    margin-top: 30px;
    margin-left: 12%;
    font-weight: normal;
}